<div *ngIf="movies.length>0 else no_movies">
    <ng-template [ngTemplateOutlet]="moveList2" [ngTemplateOutletContext]="{ movies:popularMovies }"></ng-template>
    <h1>{{title}}</h1>

    <div class="alert alert-warning">{{movies.length}} adet film bulundu</div>

    
    <ng-template [ngTemplateOutlet]="moveList1" [ngOutletContext]="context"></ng-template>
    
</div>

<ng-template #no_movies>
    <div class="alert alert-warning"> Film bulunamadı.</div>
</ng-template>

<ng-template #moveList1>
    <div *ngFor="let item of movies;" class="card mb-3">
        <div class="row">
            <div class="col-md-3">
                <img src="/assets/img/{{item.imageUrl}}" alt="" class="img-fluid rounded-start">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text">{{item.description}}</p>
                    <button class="btn-sm btn-outline-primary">Details</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #moveList2 let-filmler="movies">
    <h2>Populer Filmler</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
        <div class="col" *ngFor="let item of filmler">
            <div class="card h-100">
                <img src="/assets/img/{{item.imageUrl}}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">
                        {{item.title}}
                    </h5>
                    <p class="card-text">
                        {{item.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #moveList3 let-populerFilmler="movies">
    
    <div *ngFor="let item of populerFilmler;" class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img src="/assets/img/{{item.imageUrl}}" alt="" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text">{{item.description}}</p>
                    <button class="btn-sm btn-outline-primary">Details</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!-- 
<app-movie *ngFor="let item of movies"></app-movie>
 

<ul>
    <li *ngFor="let item of movies">{{item}}</li>
</ul> -->