<div class="card mb-3">
    <div class="row">
        <div class="col-md-3">
            <img src="/assets/img/2.jpg" alt="" class="img-fluid rounded-start">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">Film 2</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                    a galley of type and scrambled it to make a type specimen book.</p>
                    <button class="btn-sm btn-outline-primary">Details</button>
            </div>
        </div>
    </div>
</div>

 
